lab1/*pl.swp
lab2/KotlinArray/cmake-build-*
lab2/KotlinArray/.idea
lab3/Python2Cpp/.*
lab3/Python2Cpp/build/
lab3/Python2C/.*
lab3/Python2C/build/
lab3/Python2C/a.out
lab4/TranslatorGenerator/.*
lab4/TranslatorGenerator/build/
